body {  
    max-width: 75%; 
    margin: 0 auto;
    background-color: beige;         
}

navi {
    float: left;
}

h1, h2 {
    font-family: Quattrocento, serif;
    color: brown;
    font-weight: 700;
}

p, ul, ol {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

li {
    font-family: 'Alice', serif;
}

#header {
    display: inline-block;
}

#header li {
    list-style-type: none;
}

img {
    height: auto;
    width: 100%;
    box-shadow: inset;   
}