body {
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

h1, h2 {
    font-family: Quattrocento, serif;
    color: brown;
    font-weight: 700;
}

p, ul, ol {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

li {
    font-family: 'Alice', serif;
}

#header {
    display: inline-block;
    background-color: brown;
    width: 100%;
}

#header li {
    list-style-type: none;
    display: inline;
    float: left;
}

#header a, .footer a {
    text-decoration: none;
    color: beige;
    background-color: brown;
    padding: 10px;
    display: block;
}

.footer a {
    color: brown;
    background-color: beige;
}

.right a{
    text-decoration: none;
    line-height: 50px;
    color: brown;
    background-color: beige;
}
img {
    height: auto;
    width: 100%;
    box-shadow: inset;
}